@import '../../App.scss';
.marginStyle{
    margin-top: 50px;
}

.carousel{
    max-height: 500px;
    .d-block{
        max-height: 500px;
    }
}
.offcanvas-title{
    line-height: 70px;
    color: $theme-color;
    font-size: 22px;
    user-select: none;
}
.dropdown-menu{
    border:1px solid $theme-color ;
    padding: 0;
    width:70%;
    border-radius: 0.375rem;
    text-align: center;
    .dropdown-item{
    border-bottom:1px solid $theme-color ;
    &:hover{
        background-color: $theme-color;
        color:white;
        .myReact-icons{
            color:white;
        }
    }
}
}
